<section class="navegacion">

  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" href="/">TIENDA</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/signup">Signup</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/signin">Signin</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/closeSession" >logout</a>
    </li>

    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">/carrito</a>
    </li>
    
  </ul>

</section>