<div class="wrapper">
    <header class="header-mobile">
        <h1 class="logo">DCTech</h1>
        <button class="open-menu" id="open-menu">
            <i class="bi bi-list"></i>
        </button>
    </header>
    <aside>
        <button class="close-menu" id="close-menu">
            <i class="bi bi-x"></i>
        </button>
        <header>
             <a href="/">
                <img src="https://i.postimg.cc/MGn04zcV/logo1.png" alt="DCTech Logo" width="200 %" height="100%"> 
            </a>
        </header>
        <nav>
            <ul>
                <li>
                    <a class="boton-menu boton-volver" href="/">
                        <i class="bi bi-arrow-return-left"></i> Volver a la Tienda
                    </a>
                </li>
                <li>
                    <a class="boton-menu boton-carrito active" href="/carrito">
                        <i class="bi bi-cart-fill"></i> Carrito
                    </a>
                </li>
            </ul>
        </nav>
        <footer>
            <p class="texto-footer">© 2023 Phoenix Dev Lab</p>
        </footer>
    </aside>
    <main>
        <h2 class="titulo-principal">Carrito</h2>
        <div class="contenedor-carrito">
            <p id="carrito-vacio" class="carrito-vacio">Tu carrito está vacío. <i class="bi bi-emoji-frown"></i></p>

            <div id="carrito-productos" class="carrito-productos disabled">
                <!-- Esto se va a completar con el JS -->
            </div>

            <div id="carrito-acciones" class="carrito-acciones disabled">
                <div class="carrito-acciones-izquierda">
                    <button id="carrito-acciones-vaciar" class="carrito-acciones-vaciar">Vaciar carrito</button>
                </div>
                <div class="carrito-acciones-derecha">
                    <div class="carrito-acciones-total">
                        <p>Total:</p>
                        <p id="total">$3000</p>
                    </div>
                    <button id="carrito-acciones-comprar" class="carrito-acciones-comprar">Comprar ahora</button>
                </div>
            </div>

            <p id="carrito-comprado" class="carrito-comprado disabled">Muchas gracias por tu compra. <i class="bi bi-emoji-laughing"></i></p>

        </div>
    </main>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./js/carrito.js"></script>