<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
       background-color: #d8e2dc;
    }
    h1 {
      text-align: center;
    }
    .content-container {
      margin: 10px;
      justify-content: center;
      background-color: #ffffff; /* Color de fondo blanco para el contenedor de texto */
      padding: 20px; /* Espaciado interno para separar el contenido del borde */
    }
    .team-container {
      display: flex;
      justify-content: space-between;
    }
    .team-member {
      text-align: center;
      margin-top: 20px; /* Espaciado superior para separar cada miembro del equipo */
    }
  </style>
  <title>Phoenix Dev-Lab</title>
</head>
<body>

  <h1>¿Quienes Somos</h1>

<div style="margin: 10px; justify-content: center">
<br>
<p>El Grupo Phoenix Dev-Lab, una iniciativa emprendedora formada por tres estudiantes de la Tecnicatura en Programación de la UTN FRSR (Facultad Regional San Rafael). Los fundadores, motivados por su pasión por la programación y la tecnología, decidieron superar los desafíos encontrados en su trayectoria anterior y dar vida a Phoenix Dev-Lab, una empresa destinada a dejar una huella significativa en el panorama del desarrollo de software en San Rafael. </p>
<br>
<p>Este grupo de emprendedores ha consolidado su visión en la creación de soluciones innovadoras, aprovechando sus habilidades adquiridas en la Tecnicatura en Programación. Con un enfoque renovado y una determinación inquebrantable, Phoenix Dev-Lab se ha propuesto convertirse en un referente en el desarrollo de software, ofreciendo productos y servicios de alta calidad a sus clientes.</p>
<br>
<p>El crecimiento potencial de Phoenix Dev-Lab es innegable, respaldado por la dedicación y el compromiso de sus fundadores. Este equipo de tres estudiantes ha demostrado no solo la capacidad técnica sino también la resiliencia necesaria para superar obstáculos y alcanzar nuevos horizontes en el mundo del desarrollo de software. En pocas palabras Phoenix Dev-Lab es más que una empresa de desarrollo de software; es un testimonio de perseverancia, crecimiento y dedicación. Este grupo de emprendedores está forjando su camino hacia el éxito en San Rafael, impulsados por una visión compartida y el respaldo de aquellos que creen en su potencial.</p>
<br>
</div>
<div style="display: flex; justify-content: space-between;">

  <div>
    <img src="https://github.com/CodeSystem2022/Phoenix_DevLab_4Semestre/assets/80373813/986dc4c7-978b-4680-ba17-e1d95c362f0f" width="200" height="200" />
    <br>
    <strong>⭐ Gustavo Cesaretti</strong>
    <br>
    LinkedIn: <a href="https://www.linkedin.com/in/gustavo-cesaretti-80797223a/">Perfil de LinkedIn</a>
    <br>
    GitHub: <a href="https://github.com/Guzce">Perfil de GitHub</a>
  </div>

  <div>
    <img src="https://github.com/CodeSystem2022/Phoenix_DevLab_4Semestre/assets/80373813/83308616-3022-44c2-8e51-23420fcd8ee1" width="200" height="200" />
    <br>
    <strong>⭐ Javier Brega</strong>
    <br>
    LinkedIn: <a href="https://www.linkedin.com/in/javier-brega-438390213/">Perfil de LinkedIn</a>
    <br>
    GitHub: <a href="https://github.com/javierbrega">Perfil de GitHub</a>
  </div>

  <div>
    <img src="https://github.com/CodeSystem2022/Phoenix_DevLab_4Semestre/assets/80373813/a8dfbeb2-ca49-468a-a164-151eabaa08cb" width="200" height="200" />
    <br>
    <strong>⭐ Juan Sorato</strong>
    <br>
    LinkedIn: <a href="https://www.linkedin.com/in/juani-sorato-1a394b268/">Perfil de LinkedIn</a>
    <br>
    GitHub: <a href="https://github.com/Juanisorato21">Perfil de GitHub</a>
  </div>

</div>

</p>